nette:
	application:
		mapping:
			*: IPubTests\VisualPaginator\*Presenter

services:
	# Test presenter
	presenters.test:
		class: IPubTests\VisualPaginator\TestPresenter

	router: IPubTests\VisualPaginator\RouterFactory::createRouter