nette:
	application:
		mapping:
			*: IPubTests\VisualPaginator\*Presenter

services:
	# Test presenter
 	presenters.test:
 		class: IPubTests\VisualPaginator\TestPresenter

	application.router: Nette\Application\Routers\SimpleRouter('Test:default')